#footer {
  background-color: #0F4410;
 }

 #logo_footer {
   width: 100px;
   height: 100px;
 }
 
 #icon_footer {
   font-size: 1.5em;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 40%;
   text-align: center;
   color: green;
   text-decoration: none;/* Remove sublinhado dos links */
 }

 .flash-messages {
  position: absolute;
  top: 50px; 
  right: 20px; 
  background-color: #ffffff; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 999; 
}

a{
  text-decoration: none;
  color: rgb(50, 212, 166)
}