<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'links.html' %}
</head>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="{{ url_for('static', filename='imagens/AutoBell02.png') }}" class="rounded card-title" id="logo_footer" alt="Logo">
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 IFPI<br> Desenvolvido por: João Manoel & Larissa Souza </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      
<li class="nav-link" ><i class="fab fa-facebook fa-3x " id="icon_footer"></i></li>
<li class="nav-link"><i class="fab fa-instagram fa-3x" id="icon_footer"></i></li>
<li class="nav-link"><i class="fab fa-whatsapp fa-3x" id="icon_footer"></i></li>
    </ul>
  </footer>


