<html>
<head>
{% include 'links.html' %}
</head>
<body>
    <div class="container-fluid">

        <div class="offcanvas offcanvas-start" id="demo" style="background-color: #d3fad0;">
            <div class="offcanvas-header">
              <img src="{{ url_for('static', filename='imagens/AutoBell02.png') }}" class="rounded card-title" id="logo" alt="Logo">
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body ">
                <div class="my-3">
                    <a class="nav-link" href="{{ url_for('cadastro_horarios') }}"><button class="btn ">Adicionar Horário</button></a>
                </div>
                {% if admin == True %}
                <a class="nav-link" href="{{ url_for('cadastro_usuario') }}"><button class="btn ">Cadastrar Usuário</button></a>
                <br>
                <a class="nav-link" href="{{url_for('usuarios_existentes')}}"><button class="btn">Visualizar Usuários</button></a>
                <br>
                {% endif %}
                <a class="nav-link" href="{{ url_for('tela_principal') }}"><button class="btn ">Voltar ao inicio</button></a>
                <div class="my-3">
                    <a class="btn btn-danger" type="button" href="{{ url_for('logout') }}" >Logout</a>
                </div>
            </div>
          </div>

        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #d3fad0;">
          <div class="mt-1 ms-3 my-1 p1">
            <img src="{{ url_for('static', filename='imagens/AutoBell02.png') }}" class="rounded card-title" id="logo_header" alt="Logo">
          </div>
          <br>
          <div class="navbar-brand my-1 mt-5" >
            <button class="btn btn-outline-light text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" id="botao_menu">
                <img src="{{ url_for('static', filename='imagens/img_menu.png')}}" title="MENU" id="menu">
            </button>
          </div>

          <div class="container-fluid">
            <div class="navbar-brand ms-auto">
              <img src="{{ url_for('static', filename='imagens/IFPI.png')}}" title="IFPI" id="logo_ifpi">
            </div>
          </div>
        </nav>
      </div>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>